<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.ExercisePerRoutineDao">
	<resultMap type="ExercisePerRoutine" id="ExercisePerRoutineMap">
		<result column="id" property="id" />
		<result column="routine_no" property="routineNo" />
		<result column="exercise_no" property="exerciseNo" />
	</resultMap>
	<select id="selectAll" resultMap="ExercisePerRoutineMap">
		SELECT *
		FROM exercise_per_routine
	</select>
</mapper>