<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.ExercisePerRoutineDao">
	<resultMap type="ExercisePerRoutine" id="ExercisePerRoutineMap">
		<result column="id" property="id" />
		<result column="routine_no" property="routineNo" />
		<result column="exercise_name" property="exerciseName" />
		<result column="routine_set" property="routineSet" />
		<result column="routine_rep" property="routineRep" />
		<result column="order_no" property="orderNo" />
	</resultMap>
	<select id="selectByRoutineNo" parameterType="int" resultMap="ExercisePerRoutineMap">
		SELECT *
		FROM exercise_per_routine
		WHERE routine_no = #{routineNo}
		ORDER BY order_no ASC;
	</select>
	<insert id="InsertEPR" parameterType="ExercisePerRoutine">
		INSERT INTO exercise_per_routine(routine_no, exercise_name, routine_set, routine_rep, order_no)
		VALUES (#{routineNo}, #{exerciseName}, #{routineSet}, #{routineRep}, #{orderNo})
	</insert>
</mapper>