<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.GroupInfoDao">
	<resultMap type="GroupInfo" id="GroupInfoMap">
		<result column="group_no" property="groupNo" />
		<result column="group_name" property="groupName" />
		<result column="exercise_type" property="exerciseType" />
		<result column="group_point" property="groupPoint" />
		<result column="maximum_people" property="maximumPeople" />
		<result column="current_people" property="currentPeople" />
	</resultMap>
	<select id="selectAll" resultMap="GroupInfoMap">
		SELECT *
		FROM group_info
	</select>
</mapper>