<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.MealBoardDao">
	<resultMap type="MealBoard" id="MealBoardMap">
		<result column="post_no" property="postNo" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="filepath" property="filepath" />
		<result column="carb" property="carb" />
		<result column="protein" property="protein" />
		<result column="fat" property="fat" />
		<result column="user_id" property="userId" />
		<result column="view_cnt" property="viewCnt" />
		<result column="reg_date" property="regDate" />
	</resultMap>
	<select id="selectAll" resultMap="MealBoardMap">
		SELECT *
		FROM meal_board
	</select>
	<select id="selectByPostNo" parameterType="int">
		SELECT *
		FROM meal_board
		WHERE post_no = #{postNo}
	</select>
	<insert id="insertMealBoard" parameterType="MealBoard">
		INSERT INTO meal_board(title, content, filepath, carb, protein, fat, user_id)
		VALUES(#{title}, #{content}, #{filepath}, #{carb}, #{protein}, #{fat}, #{userId})
	</insert>
	<update id="updateMealBoard" parameterType="MealBoard">
		UPDATE meal_board
		SET
		title = #{title},
		content = #{content},
		carb = #{carb},
		protein = #{protein},
		fat = #{fat}
		WHERE post_no = #{postNo}
	</update>
	<update id="updateFile" parameterType="MealBoard">
		UPDATE meal_board
		SET
		filepath = #{filepath}
		WHERE post_no = #{postNo}
	</update>
	<update id="updateViewCnt" parameterType="int">
		UPDATE meal_board
		SET view_cnt = view_cnt + 1
		WHERE post_no = #{postNo}
	</update>
	<delete id="deleteMealBoard" parameterType="int">
		DELETE FROM meal_board
		WHERE post_no = #{postNo}
	</delete>
</mapper>