<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.MealLikedDao">
	<resultMap type="MealLiked" id="MealLikedMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="post_no" property="postNo" />
	</resultMap>
	<select id="countLikedByPostNo" resultType="int" parameterType="int">
		SELECT COUNT(*) AS count
		FROM meal_liked
		WHERE post_no = #{postNo} 
	</select>
	<select id="selectByIds" resultMap="MealLikedMap" parameterType="MealLiked">
		SELECT *
		FROM meal_liked
		where post_no = #{postNo} and user_id = #{userId} 
	</select>
	<insert id="insertMealLiked" parameterType="MealLiked">
		INSERT INTO meal_liked(user_id, post_no)
		VALUES (#{userId}, #{postNo})
	</insert>
	<delete id="deleteByIds" parameterType="MealLiked">
		DELETE FROM meal_liked
		WHERE post_no = #{postNo} and user_id = #{userId} 
	</delete>
</mapper>