<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.RoutineLikedDao">
	<resultMap type="RoutineLiked" id="RoutineLikedMap">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="routine_no" property="routineNo" />
	</resultMap>
	<select id="countLikedByRoutineNo" resultType="int" parameterType="int">
		SELECT COUNT(*) AS count
		FROM routine_liked
		WHERE routine_no = #{routineNo} 
	</select>
	<select id="selectByIds" resultMap="RoutineLikedMap" parameterType="RoutineLiked">
		SELECT *
		FROM routine_liked
		where routine_no = #{routineNo} and user_id = #{userId} 
	</select>
	<insert id="insertRoutineLiked" parameterType="RoutineLiked">
		INSERT INTO routine_liked(user_id, routine_no)
		VALUES (#{userId}, #{routineNo})
	</insert>
	<delete id="deleteByIds" parameterType="RoutineLiked">
		DELETE FROM routine_liked
		WHERE routine_no = #{routineNo} and user_id = #{userId} 
	</delete>
</mapper>