<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.RoutineInfoDao">
	<resultMap type="RoutineInfo" id="RoutineInfoMap">
		<result column="routine_no" property="routineNo" />
		<result column="exercise_type" property="exerciseType" />
		<result column="user_id" property="userId" />
		<result column="view_cnt" property="viewCnt" />
		<result column="reg_date" property="regDate" />
		<result column="title" property="title" />
	</resultMap>
	<select id="selectAll" resultMap="RoutineInfoMap">
		SELECT *
		FROM routine_info
	</select>
</mapper>