<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.RoutinePerDayDao">
	<resultMap type="RoutinePerDay" id="RoutinePerDayMap">
		<result column="id" property="id" />
		<result column="days" property="days" />
		<result column="group_no" property="groupNo" />
		<result column="routine_no" property="routineNo" />
	</resultMap>
	<select id="selectByGroupNo" resultMap="RoutinePerDayMap">
		SELECT *
		FROM routine_per_day
		WHERE group_no = #{groupNo}
	</select>
	<insert id="insertRoutinePerDay" parameterType="RoutinePerDay">
		INSERT INTO routine_per_day(days, group_no, routine_no)
		VALUES(#{days}, #{groupNo}, #{routineNo})
	</insert>
	<delete id="deleteBy">
	</delete>
</mapper>