<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.RoutineCommDao">
	<resultMap type="RoutineComm" id="RoutineCommMap">
		<result column="comm_index" property="commIndex" />
		<result column="class_no" property="classNo" />
		<result column="comm" property="comm" />
		<result column="order_no" property="orderNo" />
		<result column="comm_group" property="commGroup" />
		<result column="routine_no" property="routineNo" />
		<result column="user_id" property="userId" />
		<result column="reg_date" property="regDate" />
	</resultMap>
	<select id="selectAll" resultMap="RoutineCommMap">
		SELECT *
		FROM routine_comm
	</select>
</mapper>