<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.SuccessDao">
	<resultMap type="Success" id="SuccessMap">
		<result column="id" property="id" />
		<result column="is_done" property="isDone" />
		<result column="user_id" property="userId" />
	</resultMap>
	<select id="selectByUserId" resultMap="SuccessMap" parameterType="String">
		SELECT *
		FROM success
		where user_id = #{userId}
	</select>
	<insert id="insertSuccess" parameterType="Success">
		INSERT INTO success(user_id)
		VALUES(#{userId})
	</insert>
	<delete id="deleteByUserId" parameterType="String">
		DELETE FROM success
		WHERE user_id = #{userId}
	</delete>
</mapper>