<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.UserInfoDao">
	<resultMap type="UserInfo" id="UserInfoMap">
		<result column="user_no" property="userNo" />
		<result column="user_id" property="userId" />
		<result column="user_password" property="userPassword" />
		<result column="weight" property="weight" />
		<result column="height" property="height" />
		<result column="gym_name" property="gymName" />
		<result column="filepath" property="filepath" />
		<result column="purpose" property="purpose" />
		<result column="group_no" property="groupNo" />
		<result column="user_point" property="userPoint" />
	</resultMap>
	<select id="selectAll" resultMap="UserInfoMap">
		SELECT *
		FROM user_info
	</select>
</mapper>