<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.yus.model.dao.YoutubeInfoDao">
	<resultMap type="YoutubeInfo" id="YoutubeInfoMap">
		<result column="video_id" property="videoId" />
		<result column="url" property="url" />
		<result column="title" property="title" />
		<result column="channel_name" property="channelName" />
		<result column="exercise_name" property="exerciseName" />
		<result column="view_cnt" property="viewCnt" />
	</resultMap>
	<select id="selectAll" resultMap="YoutubeInfoMap">
		SELECT *
		FROM youtube_info
	</select>
	<select id="selectById" parameterType="String" resultMap="YoutubeInfoMap">
		SELECT *
		FROM youtube_info
		WHERE video_id = #{videoId}
	</select>
	<update id="updateViewCnt" parameterType="String">
		UPDATE youtube_info
		SET view_cnt = view_cnt + 1
		WHERE video_id = #{videoId}
	</update>
</mapper>