<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.MealBoardDao">
	<resultMap type="MealBoard" id="MealBoardMap">
		<result column="post_no" property="postNo" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="filepath" property="filepath" />
		<result column="carb" property="carb" />
		<result column="protein" property="protein" />
		<result column="fat" property="fat" />
		<result column="user_no" property="userNo" />
		<result column="view_cnt" property="viewCnt" />
		<result column="reg_date" property="regDate" />
	</resultMap>
</mapper>