<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.RoutineLikedDao">
	<resultMap type="RoutineLiked" id="RoutineLikedMap">
		<result column="id" property="id" />
		<result column="user_no" property="userNo" />
		<result column="routine_no" property="routineNo" />
	</resultMap>
</mapper>